@font-face {
  font-family: "EB Garamond Bold";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/EBGaramond-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "xkcd Script";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/xkcd-script.ttf") format("truetype"); }

@font-face {
  font-family: "Raleway Regular";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Raleway-Regular.ttf") format("truetype"); }

.reveal .slides {
  text-align: left !important; }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; }

.reveal div {
  font-family: "Raleway", sans-serif; }

.colorful .reveal {
  background: linear-gradient(45deg, #087bd9 0%, rgba(8, 123, 217, 0) 70%), linear-gradient(135deg, #06d4f9 10%, rgba(6, 212, 249, 0) 80%); }
  .colorful .reveal section > * {
    color: #fff;
    text-shadow: 0px 0px 1px #000; }

code {
  font-family: "Inconsolata";
  line-height: 80%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.reveal .slides section .fragment.fade-in-otherwise-semi-out {
  opacity: 0.4;
  visibility: inherit; }
  .reveal .slides section .fragment.fade-in-otherwise-semi-out.current-visible {
    opacity: 0.4;
    visibility: inherit; }
  .reveal .slides section .fragment.fade-in-otherwise-semi-out.current-fragment {
    opacity: 1;
    visibility: inherit; }

.sea-gradient .reveal {
  background: linear-gradient(to left, #4CA1AFEE, #2C3E50EE);
  -webkit-clip-path: polygon(0% 15%, 0% 85%, 100% 85%, 100% 15%);
  clip-path: polygon(0% 15%, 0% 85%, 100% 85%, 100% 15%); }

.sky-gradient-13 .reveal {
  background: linear-gradient(to bottom, #57c1eb 0%, #246fa8 100%); }

.markdeck-logo {
  display: none; }
