@font-face {
  font-family: "EB Garamond Bold";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/EBGaramond-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "xkcd Script";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/xkcd-script.ttf") format("truetype"); }

@font-face {
  font-family: "Raleway Regular";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Raleway-Regular.ttf") format("truetype"); }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; }

.reveal div {
  font-family: "Raleway", sans-serif; }

.colorful .reveal {
  background: linear-gradient(45deg, #087bd9 0%, rgba(8, 123, 217, 0) 70%), linear-gradient(135deg, #06d4f9 10%, rgba(6, 212, 249, 0) 80%); }
  .colorful .reveal section > * {
    color: #fff; }

p {
  text-align: left; }

.reveal ul {
  display: block !important; }

code {
  display: block !important;
  font-family: "Inconsolata";
  background: #333;
  color: #ddd;
  border-radius: 5px;
  padding: 5px 15px; }

.reveal .slides section .fragment.fade-in-otherwise-semi-out {
  opacity: 0.4;
  visibility: inherit; }
  .reveal .slides section .fragment.fade-in-otherwise-semi-out.current-visible {
    opacity: 0.4;
    visibility: inherit; }
  .reveal .slides section .fragment.fade-in-otherwise-semi-out.current-fragment {
    opacity: 1;
    visibility: inherit; }

.sea-gradient .reveal {
  background: #00936a; }

.sky-gradient-13 .reveal {
  background: linear-gradient(to bottom, #57c1eb 0%, #246fa8 100%); }

.markdeck-logo {
  display: none; }
